h3 {
  padding-left: 50px;

  text-align: left;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  width: 350px;
}

.container-button {
  text-align: center;
}
