h1 {
  padding-top: 40px;
  text-align: center;
}

img {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  padding-left: 50px;
  text-align: left;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  width: 350px;
}

.container-button {
  text-align: center;
}
