h1 {
  padding-top: 40px;
  text-align: center;
}

img {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  padding-left: 50px;
  text-align: left;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  width: 450px;
}

.burger-list-constainer {
  padding: 5px;
}

.container-button {
  text-align: center;
}

.burger-list-build {
  padding-top: 20px;
  padding-bottom: 15px;
  position: absolute;
  width: 300px;
  background: green;

}

.devour-burger {
  border-radius: 8px;
  margin-left: 315px;
  /* margin-bottom: 10px; */

}

.burger-list-devoured {
  padding: 20px;
  margin: 5px;
  background: yellow;
}
